
/**
 * Stylesheet for the ia module.  Copy this file to your
 *  theme directory if you want to override the CSS.
 *
 * @file: ia.css
 * @author: Elliott Foster
 * @copyright: NewMBC 2009
 */

/** ia links block **/
.ia_links_list li {
  float: left;
  margin-right: 5px;
}

/** END ia links block **/

/** ia page **/
.ia_sent_invite,
.ia_received_invite {
  border: 1px solid #FFFFFF;
  margin-bottom: 10px;
  padding: 10px;
}

.invite_picture {
  float: left;
  margin-right: 10px;
}

/** END ia page **/

